* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    top: 0;
    position: fixed;
    width: 100%;
    height: 107px;
    background: linear-gradient( to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.21) );
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-inner-container {
    width: 61.25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-container a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-container img {
    width: 68px;
    height: 68px;
    border-radius: 10px;
}

.nav-container .logo-container {
    display: flex;
    align-items: center;
}

.nav-container .logo-container a {
    margin-left: 13px;
    font-size: 24px;
    font-weight: bold;
}

.nav-container .link-container {
    justify-self: flex-end;
}

.nav-container .link-container a {
    margin-left: 20px;
    font-size: 21px;
}

.main-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 310px;
    display: flex;
    justify-content: center;
    background-color: pink;
}

.main-container .main-text-container {
    width: 61.25%;
}

.main-container .main-text-container p {
    color: #FFFFFF;
}

.main-container .main-text-container .text1 {
    font-size: 30px;
}

.main-container .main-text-container .text2 {
    margin-top: 21px;
    font-size: 80px;
    font-weight: bold;
}

.main-container .main-text-container .text3 {
    margin-top: 55px;
    font-size: 20px;
    line-height: 185.5%;
}

.service-container {
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 153px;
}

.service-container .service {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

.service-container .img-phone {
    width: 400px;
    height: 867px;
    margin: 25px;
}

.service-container .img-crop {
    width: 400px;
    height: 406px;
    margin: 25px;
}

.service-description-container {
    margin: 15px;
    height: fit-content;
}

.service-description-container .pink-background {
    background-color: #FF9A75;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
}

.service-description-container .pink-background p {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
}

.service-description-container .service-description {
    width: 337px;
    color: #595959;
    font-size: 20px;
}

.service-description-container .service-description b {
    font-weight: bold;
    color: #595959;
}

.title-container {
    width: fit-content;
    height: fit-content;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 41px;
    border: #FF9A75 2px solid;
    align-self: flex-start;
    box-sizing: border-box;
}

.title-container p {
    color: #FF9A75;
    font-size: 32px;
    font-weight: bold;
}

.video-container {
    width: 61.25%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-container .videos {
    display: flex;
    margin-top: 68px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-container .video-title {
    font-size: 24px;
    color: #FF9A75;
    margin-top: 30px;
    font-weight: 500;
}

.video-container .video-description {
    margin-top: 30px;
    color: #595959;
    size: 18px;
}

.video-container video {
    width: 100%;
}

.video-container .video {
    width: 50%;
   margin-left: 9px;
   margin-right: 9px;
}

.news-container {
    width: 61.25%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 80px;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 50px;
}

.news-grid .main-news {
    grid-row-start: 1;
	grid-row-end: 4;
    margin-right: 20px;
}

.news-grid .main-news img {
    width: 100%;
}

.news-grid .main-news .news-title {
    color: #FF9A75;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.news-grid .main-news .news-content {
    font-size: 18px;
}

.news-grid a {
    text-decoration: underline;
    text-decoration-color: #FF9A75;
    display: block;
}

.news-grid .news {
    display: flex;
}

.news-grid .news .news-title {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 154, 117, 0.64);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.news-grid .news .news-content {
    font-size: 18px;
    text-decoration: none;
}

.news-grid .news img {
    margin: 20px;
}

.people-container {
    width: 61.25%;
    box-sizing: border-box;
    padding-top: 180px;
    padding-bottom: 109px;
}

.peoples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.people {
    display: inline-block;
    margin-top: 68px;
    width: 311px;
    height: 504px;
    background-color: rgba(255, 154, 117, 0.21);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    margin-left: 60px;
}

.people .people-name {
    font-size: 22px;
    font-weight: bold;
    margin-right: 7px;
}

.people .people-position {
    font-size: 22px;
}

.people .people-description {
    color: #767676;
    font-size: 16px;
    margin: 7px;
    text-align: center;
}

.people img {
    min-width: 184px;
    min-height: 184px;
    margin-bottom: 27px;
}

footer {
    width: 100%;
    height: 422px;
    background-color: #FFE9E2;
    color: rgba(0, 0, 0, 0.63);
    box-sizing: border-box;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

footer .footer-container {
    width: 61.25%;
}

footer .school-location {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
}

footer table {
    margin-top: 58px;
}

footer table .school-part {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
}

footer table .school-part-tel {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.63);
}

footer table td {
    min-width: 590px;
    padding-bottom: 18px;
}